<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce</title>
  </head>
  <body>
    <div>
      <h1>Bienvenidos</h1>
    </div>
    <div>
      <h1>Estos son nuestros productos</h1>
      <div>
        {{#each prods.payload}}
          <h2>Title: {{this.title}}</h2>
          <p>ID: {{this._id}}</p>
          <p>Price: ${{this.price}}</p>
        {{/each}}
      </div>
    </div>
  </body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</html>